*{
    padding: auto;
    margin: auto;
    font-weight: "montserrat", sans-serif;
    box-sizing: border-box;
  }
  
  .content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
  }
  
  body{
    background-image: linear-gradient(120deg,#1abc9c,#16a085);  
    min-height: 100vh; 
  }
  
  .topnav {
    max-width: 500px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: rgb(70, 60, 60);
    color: rgb(197, 85, 85);
  }
  
  .colorised{
      color:#ff6666;
  }
  
  .featured {
    max-width: 500px;
    margin: auto;
    padding: 18px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    box-sizing: border-box;
    background-color:white;
  }
  
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
    border: none;
    border-bottom: 2px solid black;
  }
  
  .border{
    border-bottom: 2px solid black;
  }
  
  
  .footer {
  max-width: 500px;
    margin: auto;
    padding: 10px;
    color: white;
    text-align:right;
  }
  
  
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  
  div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  div.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 13px 12.62px;
    transition: 0.3s;
    font-size: 10px;
  }
  
  div.tab button:hover {
    background-color: #ddd;
  }
  
  div.tab button.active {
    background-color: #d6f5d6;
  }